In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("sample_submission.csv")

In [3]:
df.head()

    id  target
0  250       0
1  251       0
2  252       0
3  253       0
4  254       0

In [4]:
df.tail()

          id  target
19745  19995       0
19746  19996       0
19747  19997       0
19748  19998       0
19749  19999       0

In [5]:
df. isnull().sum()

id        0
target    0
dtype: int64

In [6]:
df.shape

(19750, 2)

In [7]:
df1=pd.read_csv("train.csv")

In [8]:
df2=pd.read_csv("test.csv")

In [9]:
df1.head()

,id,target,0,1,2,3,4,5,6,7,...,290,291,292,293,294,295,296,297,298,299
0,0,1.0,-1.067,-1.114,-0.616,0.376,1.090,0.467,-0.422,0.460,...,0.220,-0.339,0.254,-0.179,0.352,0.125,0.347,0.436,0.958,-0.824
1,1,0.0,-0.831,0.271,1.716,1.096,1.731,-0.197,1.904,-0.265,...,-0.765,-0.735,-1.158,2.554,0.856,-1.506,0.462,-0.029,-1.932,-0.343
2,2,0.0,0.099,1.390,-0.732,-1.065,0.005,-0.081,-1.450,0.317,...,-1.311,0.799,-1.001,1.544,0.575,-0.309,-0.339,-0.148,-0.646,0.725
3,3,1.0,-0.989,-0.916,-1.343,0.145,0.543,0.636,1.127,0.189,...,-1.370,1.093,0.596,-0.589,-0.649,-0.163,-0.958,-1.081,0.805,3.401
4,4,0.0,0.811,-1.509,0.522,-0.360,-0.220,-0.959,0.334,-0.566,...,-0.178,0.718,-1.017,1.249,-0.596,-0.445,1.751,1.442,-0.393,-0.643

In [10]:
df2.head()

,id,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
0,250,-0.677,1.721,-0.745,-0.838,0.149,-1.138,0.242,0.504,-1.829,...,-1.180,-0.403,0.759,-0.600,0.951,-0.349,0.446,-0.819,-0.277,1.297
1,251,-0.731,-0.251,0.059,0.054,1.149,2.462,0.836,0.719,-2.269,...,1.297,1.114,0.657,0.760,0.899,-1.612,-1.701,1.107,-0.314,-0.641
2,252,1.119,1.036,1.220,1.518,0.265,-0.088,0.245,-0.533,-0.921,...,-0.864,-0.736,0.367,0.154,0.830,-1.352,0.914,0.377,0.588,-0.912
3,253,-0.933,0.212,-0.053,0.570,-1.540,-1.108,0.462,1.022,-0.215,...,0.063,-0.958,0.762,-0.213,-2.171,0.830,1.435,0.125,2.782,0.619
4,254,-0.208,-0.556,2.641,0.853,-0.384,0.312,0.514,0.481,-1.929,...,-0.689,0.213,0.568,-0.935,-0.015,0.267,0.739,1.340,-0.178,1.010

In [11]:
df1.shape

(250, 302)

In [12]:
df=pd.concat([df1,df2])

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
train=df[:250 ]
test=df[250: ]

In [15]:
y=train["target"]
x=train.drop("target",axis=1)

In [16]:
from sklearn.metrics import r2_score, mean_squared_error

In [17]:
lr=LinearRegression()

In [18]:
model=lr.fit(x,y)

In [19]:
tahmin=model.predict(x)

In [20]:
(mean_squared_error(tahmin,y))**0.5

4.939216161968838e-15

In [21]:
r2_score(tahmin,y)

1.0

In [22]:
from sklearn.linear_model import Ridge,Lasso

In [23]:
R=Ridge()
L=Lasso()

In [24]:
R.fit(x, y)

Ridge()

In [25]:
L.fit(x,y)

Lasso()

In [26]:
tahmin2=R.predict(x)

In [27]:
(mean_squared_error(tahmin2,y))**0.5

0.012498733428118377

In [28]:
r2_score(tahmin2,y)

0.9991866937883176

In [29]:
tahmin3=L.predict(x)

In [30]:
mean_squared_error(tahmin3,y)**0.5

0.4429175995600084

In [31]:
r2_score(tahmin3,y)

0.0