In [1]:
import pandas as pd

In [8]:
x=pd.read_csv("train.txt",header=None,encoding="latin1",delimiter=";",names=["sentence","emotions"])

In [9]:
y=pd.read_csv("test.txt",header=0,encoding="latin1",delimiter=";",names=["sentence","emotions"])

In [10]:
z=pd.read_csv("val.txt",header=0,encoding="latin1",delimiter=";",names=["sentence","emotions"])

In [11]:
df=pd.concat([x,y,z])

In [12]:
df.head()

                                            sentence emotions
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [13]:
df.tail()

                                               sentence emotions
1994  im having ssa examination tomorrow in the morn...  sadness
1995  i constantly worry about their fight against n...      joy
1996  i feel its important to share this info for th...      joy
1997  i truly feel that if you are passionate enough...      joy
1998  i feel like i just wanna buy any cute make up ...      joy

In [14]:
import nltk

In [15]:
from nltk import sent_tokenize

In [21]:
from nltk.tokenize import TreebankWordDetokenizer

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19998 entries, 0 to 1998
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  19998 non-null  object
 1   emotions  19998 non-null  object
dtypes: object(2)
memory usage: 468.7+ KB

In [23]:
df.isnull().sum()

sentence    0
emotions    0
dtype: int64

In [24]:
df.corr()

Empty DataFrame
Columns: []
Index: []

In [32]:
df.emotions.nunique()

6

In [25]:
df.shape

(19998, 2)

In [38]:
df.emotions.unique()

array([1, 0, 2, 3, 4, 5], dtype=int64)

In [37]:
df["emotions"]=df["emotions"].replace(["anger"],0)
df["emotions"]=df["emotions"].replace(["sadness"],1)
df["emotions"]=df["emotions"].replace(["love"],2)
df["emotions"]=df["emotions"].replace(["surprise"],3)
df["emotions"]=df["emotions"].replace(["fear"],4)
df["emotions"]=df["emotions"].replace(["joy"],5)

In [39]:
df["sentence"]=df["sentence"].str.lower()

In [40]:
df["sentence"]=df["sentence"].str.replace("[^\w\s]","")

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_12952\1503972909.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["sentence"]=df["sentence"].str.replace("[^\w\s]","")

In [42]:
df["sentence"]=df["sentence"].str.replace("\d+","")

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_12952\14983044.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["sentence"]=df["sentence"].str.replace("\d+","")

In [43]:
df["sentence"]=df["sentence"].str.replace("\n","").replace("\r","")

In [44]:
df_yeni=df[(df.emotions==4) | (df.emotions==0)]

In [45]:
df_yeni.reset_index(drop=True,inplace=True)

In [46]:
x=df_yeni.sentence
y=df_yeni.emotions

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
print(x)

0        im grabbing a minute to post i feel greedy wrong
1                                    i am feeling grouchy
2       i feel as confused about life as a teenager or...
3       i think it s the easiest time of year to feel ...
4       i now feel compromised and skeptical of the va...
                              ...
5077    i started to see a concerning pattern i d rush...
5078    im okay but feeling a little apprehensive as m...
5079    i just feel too overwhelmed i can t see the fo...
5080                             i feel so tortured by it
5081    i feel a bit rude leaving you hanging there fr...
Name: sentence, Length: 5082, dtype: object

In [50]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [51]:
vect=CountVectorizer(lowercase=True,ngram_range=(1,3),stop_words="english")
x_yeni=vect.fit_transform(x)

In [52]:
x_train,x_test,y_train,y_test=train_test_split(x_yeni,y,test_size=0.25,random_state=42)

In [53]:
print(x_train)

  (0, 16801)	1
  (0, 41232)	1
  (0, 55054)	1
  (0, 55065)	1
  (0, 18580)	1
  (0, 6211)	1
  (0, 55410)	1
  (0, 35273)	1
  (0, 16439)	1
  (0, 13379)	1
  (0, 62993)	1
  (0, 55320)	1
  (0, 41294)	1
  (0, 35274)	1
  (0, 16441)	1
  (0, 6218)	1
  (0, 55413)	1
  (0, 13380)	1
  (0, 62994)	1
  (0, 55078)	1
  (0, 18595)	1
  (0, 41295)	1
  (0, 35275)	1
  (0, 16442)	1
  (0, 6219)	1
  :	:
  (3810, 59446)	1
  (3810, 23284)	1
  (3810, 26701)	1
  (3810, 50619)	1
  (3810, 47739)	1
  (3810, 4980)	1
  (3810, 49713)	1
  (3810, 12906)	1
  (3810, 56288)	1
  (3810, 7883)	1
  (3810, 32626)	1
  (3810, 20552)	1
  (3810, 29067)	1
  (3810, 55229)	1
  (3810, 52999)	1
  (3810, 54481)	1
  (3810, 59447)	1
  (3810, 23285)	1
  (3810, 26702)	1
  (3810, 50620)	1
  (3810, 47741)	1
  (3810, 4981)	1
  (3810, 49714)	1
  (3810, 12907)	1
  (3810, 56289)	1

In [54]:
from sklearn.naive_bayes import MultinomialNB

In [55]:
mb=MultinomialNB()

In [56]:
mb.fit(x_train,y_train)

MultinomialNB()

In [57]:
from sklearn.metrics import accuracy_score

In [58]:
tahmin=mb.predict(x_test)

In [59]:
accuracy_score(y_test,tahmin)

0.939417781274587

In [60]:
from sklearn.tree import DecisionTreeClassifier

In [61]:
d=DecisionTreeClassifier()

In [62]:
d.fit(x_train,y_train)

DecisionTreeClassifier()

In [63]:
tahmin2=d.predict(x_test)

In [64]:
accuracy_score(tahmin2,y_test)

0.955940204563336