In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [5]:
df.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

In [6]:
df.shape

(400, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [8]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [9]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [10]:
df["Gender"]=df["Gender"].replace(["Male","Female"],[0,1])

In [11]:
df["Gender"]

0      0
1      0
2      1
3      1
4      0
      ..
395    1
396    0
397    1
398    0
399    1
Name: Gender, Length: 400, dtype: int64

In [12]:
df.drop("User ID",axis=1,inplace=True)

In [13]:
y=df["Purchased"]
x=df.drop("Purchased",axis=1)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score

In [17]:
l=LogisticRegression()

In [18]:
l.fit(x_train,y_train)

LogisticRegression()

In [19]:
tahmin=l.predict(x_test)

In [20]:
(mean_squared_error(tahmin,y_test))**0.5

0.5916079783099616

In [21]:
r2_score(tahmin,y_test)

0.0

In [22]:
accuracy_score(tahmin,y_test)

0.65

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
l2=LinearRegression()

In [25]:
l2.fit(x_train,y_train)

LinearRegression()

In [29]:
tahmin2=l2.predict(x_test)

In [30]:
(mean_squared_error(tahmin2,y_test))**0.5

0.31519084692615973

In [32]:
r2_score(tahmin2,y_test)

0.17792275324340856

In [35]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet

In [37]:
r=Ridge()
l3=Lasso()
e=ElasticNet()

In [38]:
r.fit(x_train,y_train)

Ridge()

In [39]:
tahmin4=r.predict(x_test)

In [41]:
(mean_squared_error(tahmin4,y_test))**0.5

0.3151895558164983

In [42]:
r2_score(tahmin4,y_test)

0.17790384590073705

In [43]:
l3.fit(x_train,y_train)

Lasso()

In [44]:
tahmin5=l3.predict(x_test)

In [46]:
(mean_squared_error(tahmin5,y_test))**0.5

0.3496115149884502

In [47]:
r2_score(tahmin5,y_test)

-0.8418845098646663