In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Conv2D,MaxPool2D,Dense,Flatten,BatchNormalization,Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing import image

In [38]:
import numpy as np
from tqdm import tqdm
from sklearn.model_selection import train_test_split

In [39]:
df=pd.read_csv("train.csv")

In [25]:
df.head()

,Id,Genre,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,N/A,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
0,tt0086425,"['Comedy', 'Drama']",0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,tt0085549,"['Drama', 'Romance', 'Music']",0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,tt0086465,['Comedy'],0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0086567,"['Sci-Fi', 'Thriller']",0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,tt0086034,"['Action', 'Adventure', 'Thriller']",1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [26]:
df.tail()

,Id,Genre,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,N/A,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
7249,tt2409818,"['Action', 'Crime', 'Thriller']",1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
7250,tt2062622,"['Animation', 'Comedy', 'Family']",0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7251,tt2442502,['Comedy'],0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7252,tt3455850,['Documentary'],0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7253,tt4179482,['Animation'],0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df.isnull().sum()

Id             0
Genre          0
Action         0
Adventure      0
Animation      0
Biography      0
Comedy         0
Crime          0
Documentary    0
Drama          0
Family         0
Fantasy        0
History        0
Horror         0
Music          0
Musical        0
Mystery        0
N/A            0
News           0
Reality-TV     0
Romance        0
Sci-Fi         0
Short          0
Sport          0
Thriller       0
War            0
Western        0
dtype: int64

In [17]:
import numpy as np
from tqdm import tqdm
from sklearn.model_selection import train_test_split

In [19]:
# Ä°Ã§inde bulunduÄŸumuz klasÃ¶rdeki dosyalarÄ± listele
print(os.listdir())

# Belirli bir klasÃ¶rdeki dosyalarÄ± listele
print(os.listdir('C:\\Users\\MONSTER\\Documents\\Yapay Zeka\\Become a Pro\\Movie Posters'))

['.ipynb_checkpoints', 'archive (1).zip', 'Images', 'Multi_Label_dataset', 'train.csv', 'Untitled.ipynb']
['.ipynb_checkpoints', 'archive (1).zip', 'Images', 'Multi_Label_dataset', 'train.csv', 'Untitled.ipynb']

In [29]:
width = 350
height = 350
x= []
for i in tqdm(range(df.shape[0])):
    path = 'C:\\Users\\MONSTER\\Documents\\Yapay Zeka\\Become a Pro\\Movie Posters\\Images\\'+df['Id'][i]+ '.jpg'
    img = image.load_img(path,target_size=(width,height,3))
    img = image.img_to_array(img)
    img = img/255.0
    x.append(img)

x = np.array(x)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7254/7254 [00:25<00:00, 287.38it/s]

In [24]:
df.columns

Index(['Id', 'Genre', 'Action', 'Adventure', 'Animation', 'Biography',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy',
       'History', 'Horror', 'Music', 'Musical', 'Mystery', 'N/A', 'News',
       'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [40]:
y = df.drop(['Id','Genre'],axis=1)
y = y.to_numpy()
y.shape

(7254, 25)

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=55)

In [44]:
model = Sequential()
model.add(Conv2D(16,kernel_size=(3,3),activation='relu',input_shape=x_train[0].shape))
model.add(BatchNormalization())
model.add(MaxPool2D(2,2))
model.add(Dropout(0.3))


model.add(Conv2D(32,kernel_size=(3,3),activation='relu'))
model.add(BatchNormalization())
model.add(MaxPool2D(2,2))
model.add(Dropout(0.3))



model.add(Conv2D(64,kernel_size=(3,3),activation='relu'))
model.add(BatchNormalization())
model.add(MaxPool2D(2,2))
model.add(Dropout(0.4))


model.add(Flatten())

model.add(Dense(128,activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))

model.add(Dense(25,activation='sigmoid'))

In [45]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
model.fit(x_train, y_train, batch_size=32, epochs=10, validation_data=(x_test, y_test))

Epoch 1/10
182/182 [==============================] - 517s 3s/step - loss: 8.6775 - accuracy: 0.2152 - val_loss: 68.2037 - val_accuracy: 0.0538
Epoch 2/10
182/182 [==============================] - 502s 3s/step - loss: 7.9924 - accuracy: 0.2812 - val_loss: 16.9901 - val_accuracy: 0.2295
Epoch 3/10
182/182 [==============================] - 510s 3s/step - loss: 9.4426 - accuracy: 0.2788 - val_loss: 11.0623 - val_accuracy: 0.3108
Epoch 4/10
182/182 [==============================] - 501s 3s/step - loss: 11.4599 - accuracy: 0.2838 - val_loss: 13.3645 - val_accuracy: 0.2336
Epoch 5/10
182/182 [==============================] - 525s 3s/step - loss: 14.5279 - accuracy: 0.2886 - val_loss: 17.8796 - val_accuracy: 0.2853
Epoch 6/10
182/182 [==============================] - 515s 3s/step - loss: 18.3650 - accuracy: 0.2724 - val_loss: 23.6806 - val_accuracy: 0.2309
Epoch 7/10
182/182 [==============================] - 523s 3s/step - loss: 22.9089 - accuracy: 0.2773 - val_loss: 26.2223 - val_accuracy: 0.2688
Epoch 8/10
182/182 [==============================] - 573s 3s/step - loss: 27.5667 - accuracy: 0.2754 - val_loss: 34.3739 - val_accuracy: 0.2130
Epoch 9/10
182/182 [==============================] - 553s 3s/step - loss: 32.2547 - accuracy: 0.2711 - val_loss: 31.8633 - val_accuracy: 0.2653
Epoch 10/10
182/182 [==============================] - 508s 3s/step - loss: 37.6351 - accuracy: 0.2616 - val_loss: 45.1831 - val_accuracy: 0.2646

In [46]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_3 (Conv2D)           (None, 348, 348, 16)      448

 batch_normalization (BatchN  (None, 348, 348, 16)     64
 ormalization)

 max_pooling2d (MaxPooling2D  (None, 174, 174, 16)     0
 )

 dropout (Dropout)           (None, 174, 174, 16)      0

 conv2d_4 (Conv2D)           (None, 172, 172, 32)      4640

 batch_normalization_1 (Batc  (None, 172, 172, 32)     128
 hNormalization)

 max_pooling2d_1 (MaxPooling  (None, 86, 86, 32)       0
 2D)

 dropout_1 (Dropout)         (None, 86, 86, 32)        0

 conv2d_5 (Conv2D)           (None, 84, 84, 64)        18496

 batch_normalization_2 (Batc  (None, 84, 84, 64)       256
 hNormalization)

 max_pooling2d_2 (MaxPooling  (None, 42, 42, 64)       0
 2D)

 dropout_2 (Dropout)         (None, 42, 42, 64)        0

 flatten_1 (Flatten)         (None, 112896)            0

 dense_1 (Dense)             (None, 128)               14450816

 batch_normalization_3 (Batc  (None, 128)              512
 hNormalization)

 dropout_3 (Dropout)         (None, 128)               0

 dense_2 (Dense)             (None, 25)                3225

=================================================================
Total params: 14,478,585
Trainable params: 14,478,105
Non-trainable params: 480
_________________________________________________________________

In [47]:
scores=model.evaluate(x,y)

227/227 [==============================] - 128s 551ms/step - loss: 41.5082 - accuracy: 0.2761

In [48]:
scores[1]

0.2761235237121582